*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
"public/Projects/Small Town Record Graphics/**/*.PNG" -filter -diff -merge text
"public/Projects/Small Town Record Graphics/**/*.JPG" -filter -diff -merge text
